body {
background-color: black;
}
img {
    width: 30%;
}
h1 {
  color: lightgray;
}
h2 {
  color: lightgray;
  font-style: italic;

}
figcaption {
  color: lightgray;
  font-weight: bold;
  }
.button {
  width: 30%
  height: 20%
  color: powderblue;
  border: none;
  font-style: italic;
  }
main {
color: lightgray;
}

